Repository Legacy-Of-Paradise/frontier-erp, pull requests merged in 2025-04, with the labels that each got.

#9 Fix mb
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
  .github/workflows/update-credits.yml
Labels: YML, Статус: Требуется проверка

#11 Опять гитхаб чиню
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/publish.yml
  Tools/dump_github_contributors.ps1
Labels: YML, Статус: Требуется проверка, size/S

#16 Create proofreading
  .github/workflows/proofreading
Labels: Статус: Требуется проверка

#17 Update labeler-conflict.yml
  .github/workflows/labeler-conflict.yml
Labels: YML

#22 Не бойся ложки, бойся вилки, один удар - три дырки
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
Labels: YML

#26 пупа
  .github/CODEOWNERS.txt
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/publish.yml
  .github/workflows/update-credits.yml
Labels: YML, Статус: Требуется проверка

#27 я глупый, ещё один фикс
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
Labels: YML, Статус: Требуется проверка

#31 Гитхаб файлики
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: YML, Документация, size/S

#34 фиксики
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Resources/Locale/en-US/_NewParadise/ban.ftl
  Resources/Locale/ru-RU/_NewParadise/ban.ftl
Labels: Статус: Требуется проверка

#37 Доперевёл и сделал гайд на фикс в Readme
  README.md
Labels: Документация

#38 Фикс под нас
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: Документация

#40 Update NewParadise.yml
  Resources/Changelog/NewParadise.yml
Labels: YML, Статус: Требуется проверка, size/XS

#41 Важный фикс
  .github/labeler.yml
  Tools/publish_multi_request.py
Labels: Статус: Требуется проверка, size/XS

#44 New Maps
  .github/workflows/PublishChangelog.yml
  .github/workflows/publish.yml
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_NewParadise/Outpost/frontier.yml
  Resources/Maps/_NewParadise/Test/admin_test_zone.yml
  Resources/Maps/_NewParadise/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: YML, C#, Карты, Статус: Требуется проверка, size/XL

#45 Исправление ттса
  Resources/Locale/en-US/_NewParadise/tts.ftl
  Resources/Locale/ru-RU/_NewParadise/tts.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NewParadise/tts/voices.yml
Labels: YML, Переводы, Статус: Требуется проверка, size/L

#47 Пибоди
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Snipers/Salvagers.yml
Labels: YML, size/XS

#48 Добавил шахтёрские буры на шаттлы согласно мануалу
  Resources/Maps/_NewParadise/Shuttles/bulker.yml
  Resources/Maps/_NewParadise/Shuttles/chisel.yml
  Resources/Maps/_NewParadise/Shuttles/kestrel.yml
  Resources/Maps/_NewParadise/Shuttles/pioneer.yml
  Resources/Maps/_NewParadise/Shuttles/prospector.yml
  Resources/Maps/_NewParadise/Shuttles/vagabond.yml
Labels: Карты, Статус: Требуется проверка

#49 БагФиксы. День 2
  Resources/Locale/ru-RU/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_NF/chat/managers/chat_manager.ftl
  Resources/Locale/ru-RU/_NF/holopad/holopad.ftl
  Resources/Locale/ru-RU/_NF/lobby/lobby.ftl
  Resources/Locale/ru-RU/advertisements/vending/ammo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/neck/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/uniforms/military_jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/shuttles/station_anchor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpsuits.ftl
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/gloves.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/debug.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: YML, Карты, Переводы, Статус: Требуется проверка, size/M

#53 Фиксы день 3
  .github/workflows/labeler-review.yml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/backpacks/npc_loot_mercenaries.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/duffel_color.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/belt/belts_blood_cult.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/npcs/artifact_construct.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/npcs/mob_hostile_base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/flatpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers_shipyard_mothership.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/material_reclaimer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/belt.yml
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
  Resources/manifest.yml
Labels: YML, UI, Переводы, Текстуры, Статус: Требуется проверка, size/S

#51 Мини фикс Фронтира
  Resources/Maps/_NewParadise/Outpost/frontier.yml
Labels: Карты, Статус: Требуется проверка, size/M

#52 Новый шаттл для департамента шерифа
  Resources/Maps/_NewParadise/Shuttles/Nfsd/fly_hospital.yml
  Resources/Prototypes/_NewParadise/Shipyard/fly_hospital.yml
Labels: YML, Карты, Статус: Требуется проверка, size/XL

#55 Кто сломал переводы? Я сломал переводы!
  Resources/Maps/_NewParadise/Outpost/frontier.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: YML, Карты, Статус: Требуется проверка, size/M

#60 Абубма
  .github/CODEOWNERS
  Resources/Locale/ru-RU/_NF/accessories/human-hair.ftl
Labels: Переводы, size/S

#61 Руки ламать
  .github/workflows/labeler-review.yml
Labels: YML, Статус: Требуется проверка

#59 [Delete] Personal Items Removal
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/clothing/mask/mask.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/clothing/neck/cloaks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/clothing/uniforms/misc_roles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/mask/mask.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/uniforms/misc_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_NewParadise/Entities/Clothing/Mask/mask.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/Uniforms/misc_roles.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_NewParadise/Clothing/Mask/blindspot.rsi/equipped-MASK.png
  Resources/Textures/_NewParadise/Clothing/Mask/blindspot.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/Mask/blindspot.rsi/meta.json
  Resources/Textures/_NewParadise/Clothing/Neck/Cloaks/kiras_cloakn.rsi/equipped-NECK.png
  Resources/Textures/_NewParadise/Clothing/Neck/Cloaks/kiras_cloakn.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/Neck/Cloaks/kiras_cloakn.rsi/meta.json
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/arbitercloak.rsi/equipped-NECK.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/arbitercloak.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/arbitercloak.rsi/inhand-left.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/arbitercloak.rsi/inhand-right.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/arbitercloak.rsi/meta.json
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/blcorpcloak.rsi/equipped-NECK.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/blcorpcloak.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/blcorpcloak.rsi/inhand-left.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/blcorpcloak.rsi/inhand-right.png
  Resources/Textures/_NewParadise/Clothing/OuterClothing/Cloak/blcorpcloak.rsi/meta.json
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/Arbiterhel.rsi/equipped-MASK.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/Arbiterhel.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/Arbiterhel.rsi/inhand-left.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/Arbiterhel.rsi/inhand-right.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/Arbiterhel.rsi/meta.json
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/arbiterclothing.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/arbiterclothing.rsi/icon.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/arbiterclothing.rsi/inhand-left.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/arbiterclothing.rsi/inhand-right.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/WTF/arbiterclothing.rsi/meta.json
  Resources/Textures/_NewParadise/Objects/Fun/toys.rsi/amina-inhand-left.png
  Resources/Textures/_NewParadise/Objects/Fun/toys.rsi/amina-inhand-right.png
  Resources/Textures/_NewParadise/Objects/Fun/toys.rsi/amina.png
  Resources/Textures/_NewParadise/Objects/Fun/toys.rsi/meta.json
Labels: YML, Переводы, Текстуры, Статус: Требуется проверка, size/M

#58 Повышение цен на шаттлы РП
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/charon.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/decadedove.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/pathfinder.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_NF/Shipyard/ambition.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/Prototypes/_NF/Shipyard/bodkin.yml
  Resources/Prototypes/_NF/Shipyard/bulker.yml
  Resources/Prototypes/_NF/Shipyard/chisel.yml
  Resources/Prototypes/_NF/Shipyard/comet.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/Prototypes/_NF/Shipyard/kestrel.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
  Resources/Prototypes/_NF/Shipyard/vagabond.yml
Labels: YML, Статус: Требуется проверка, size/S

#63 [FIX] Время полёта эвака 30 минут и переводы
  Content.Client/Options/UI/EscapeMenu.xaml
  Resources/Changelog/NewParadise.yml
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/melee/e_sword.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/charon.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/decadedove.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/pathfinder.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_NF/Shipyard/ambition.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/Prototypes/_NF/Shipyard/bodkin.yml
  Resources/Prototypes/_NF/Shipyard/bulker.yml
  Resources/Prototypes/_NF/Shipyard/chisel.yml
  Resources/Prototypes/_NF/Shipyard/comet.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/Prototypes/_NF/Shipyard/kestrel.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
  Resources/Prototypes/_NF/Shipyard/vagabond.yml
  Resources/Textures/Tiles/Planet/dirt.rsi/meta.json
  Resources/Textures/Tiles/Planet/dirt/attributions.yml
  Resources/Textures/Tiles/Planet/dirt/dirt.png
Labels: YML, UI, Переводы, Текстуры, Статус: Требуется проверка, size/S

#68 [FIX] Исправление всякого
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  README.md
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/closets/wall_lockers.ftl
Labels: YML, Документация, Переводы, Статус: Требуется проверка, size/S

#69 Фикс лейблера
  .github/workflows/labeler-review.yml
Labels: YML

#67 smol fixes
  Resources/Locale/ru-RU/_NF/adventure/adventure.ftl
  Resources/Locale/ru-RU/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_NF/seeds/seeds.ftl
  Resources/Locale/ru-RU/_NF/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/consumable/food/ration.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/fun/instruments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/objects/weapons/melee/blunt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/nyanotrasen/entities/structures/wallmounts/signs.ftl
Labels: Переводы, Статус: Требуется проверка, size/S

#78 edis
  Resources/Maps/_NewParadise/POI/edison.yml
Labels: Карты, Статус: Требуется проверка, size/M

#80 Наконец-то, нормальная Шхуна
  Resources/Maps/_NewParadise/Shuttles/BlackMarket/schooner.yml
Labels: Карты, Статус: Требуется проверка

#87 Фикс рогов
  Resources/Textures/_NewParadise/Customization/Markings/horns/head.rsi/vampirehorn.png
Labels: Текстуры, Статус: Требуется проверка, size/XS

#89 Важные фиксы
  LEGAL.md
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/nf_migration.yml
Labels: YML, Документация, Статус: Требуется проверка

#94 Срочный фикс
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/Mask/mask.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: YML, Статус: Требуется проверка, size/S

#95 Фиксы тестов точно теперь
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
Labels: Статус: Требуется проверка

#96 Всё
  .github/workflows/publish.yml
  .github/workflows/test-secrets1.yml
  .github/workflows/test-secrets2.yml
  .github/workflows/test-secrets3.yml
  .github/workflows/test-secrets4.yml
Labels: YML, size/S

#99 ДА ЕТИТЬ
  Resources/Locale/ru-RU/_NewParadise/loadout-group-sponsors.ftl
Labels: Переводы

#101 First fixes
  Resources/Locale/en-US/_NewParadise/chat.ftl
  Resources/Locale/ru-RU/_NewParadise/chat.ftl
  Resources/Locale/ru-RU/_NewParadise/markings.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_NewParadise/Entities/Mobs/Customization/vulpkanin.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_aquatic.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_short.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_simple.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_round.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_roundlight.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_sharp.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_sharplight.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_front.png
Labels: YML, Переводы, Текстуры, Статус: Требуется проверка, size/M

#102 Fixes
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_NewParadise/TTS/VoiceMaskSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Resources/Locale/ru-RU/_NewParadise/ban_webhook.ftl
Labels: UI, Переводы, Статус: Требуется проверка, size/M, C#

#107 фикс ooc раскраски
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Статус: Требуется проверка, size/S, C#

#106 helpmepls
  Resources/Maps/_NewParadise/POI/black_market.yml
  Resources/Prototypes/_NewParadise/PointsOfInterest/black_market.yml
Labels: YML, Карты, Статус: Требуется проверка, size/XL

#109 Фикс маркингов
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/ru-RU/_NewParadise/SponsorMarkingsTier.ftl
Labels: UI, Переводы, Статус: Требуется проверка, size/M, C#

#112 Fixfix
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
Labels: UI, Статус: Требуется проверка, size/S, C#

#113 надоели баги
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Labels: UI, Статус: Требуется проверка, size/S, C#
