Repository Legacy-Of-Paradise/frontier-erp, pull requests merged in 2025-06, with the labels that each got.

#182 Job icons в игровом чате
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml.cs
  Content.Client/_NewParadise/IconsJob/JobIconRadioSystem.cs
  Content.Client/_NewParadise/UI/RichText/JobIconRadioTag.cs
  Content.Client/_NewParadise/UI/RichText/JobIconTextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_NewParadise/NewParadiseCvars.cs
  Resources/Locale/ru-RU/_NewParadise/escape-menu/options-menu.ftl
Labels: UI, Переводы, size/M, C#

#187 Авто-зарплаты
  Content.Server/_NewParadise/AutoSalarySystem/AutoSalarySystem.cs
  Resources/Locale/ru-RU/_NewParadise/misc/salary.ftl
Labels: Переводы, Статус: Требуется проверка, size/M, C#

#195 Bank system command
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Server/_NF/Bank/Commands/BankCommand.cs
  Content.Shared.Database/LogType.cs
  Resources/Locale/en-US/_Lua/bank.ftl
  Resources/Locale/ru-RU/_Lua/bank.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: YML, Переводы, size/M, C#

#197 Ссылки для экрана загрузки
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Resources/Locale/ru-RU/_NewParadise/launcher/launcher.ftl
Labels: UI, Переводы, Статус: Требуется проверка, size/S, C#

#200 [ADD] Звуки включения и выключения ПНВ
  Content.Client/_NewParadise/NVG/NightVisionSystem.cs
  Content.Shared/_NewParadise/NVG/NightVisionComponent.cs
  Resources/Audio/_NewParadise/SoundUse/magboots_off.ogg
  Resources/Audio/_NewParadise/SoundUse/magboots_on.ogg
  Resources/Audio/_NewParadise/SoundUse/nvg_off.ogg
  Resources/Audio/_NewParadise/SoundUse/nvg_on.ogg
Labels: Звук, Статус: Требуется проверка, size/S, C#

#199 Fixes
  .github/CODEOWNERS
  .github/workflows/update-credits.yml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/Locale/en-US/_NewParadise/administration/ui/panels.ftl
  Resources/Locale/en-US/_NewParadise/erp/erp.ftl
  Resources/Locale/en-US/_NewParadise/launcher/launcher.ftl
  Resources/Locale/en-US/_NewParadise/misc/pnv.ftl
  Resources/Locale/en-US/_NewParadise/prototypes/research/technologies.ftl
  Resources/Locale/en-US/_NewParadise/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NewParadise/tts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_dv/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_dv/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/clothing/eyes/NightVision.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/catalog/fills/lockers/science.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/materials/materials.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/food/meat.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/expedition_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/storage/crates/crates.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/guidebook/shuttle_maps.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/xenoarch/effects.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/xenoarch/effects.ftl
  Resources/Locale/ru-RU/_Goobstation/administration/time_transfer.ftl
  Resources/Locale/ru-RU/_NewParadise/erp/erp.ftl
  Resources/Locale/ru-RU/_NewParadise/misc/pnv.ftl
  Resources/Locale/ru-RU/_NewParadise/prototypes/research/technologies.ftl
  Resources/Locale/ru-RU/_NewParadise/reagents/consumable.ftl
  Resources/Locale/ru-RU/_NewParadise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_NewParadise/tts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/clothing/eyes/NightVision.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/weapons/guns/expedition_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/guidebook/shuttle_maps.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NewParadise/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NewParadise/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NewParadise/Research/arsenal.yml
  Resources/Prototypes/_NewParadise/Shaders/shaders.yml
  Resources/Prototypes/_NewParadise/roadmap.yml
  Resources/Prototypes/_NewParadise/tts/voices.yml
Labels: YML, Переводы, Статус: Требуется проверка, size/M, C#

#205 Поправка всякого
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
Labels: Статус: Требуется проверка, size/S

#206 Обнова роадмапы
  Resources/Prototypes/_NewParadise/roadmap.yml
Labels: YML, Статус: Требуется проверка, size/XS

#207 Ойхихи)
  Resources/Prototypes/_NewParadise/roadmap.yml
Labels: YML, Статус: Требуется проверка, size/S

#208 Vso
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/picknpackvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Snipers/Salvagers.yml
Labels: YML, Статус: Требуется проверка, size/M

#209 исправление видимости ссылок в меню лаунчера
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
Labels: UI, Статус: Требуется проверка, C#

#211 Баг-фиксы + аудиосистема для магбутсов
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Resources/Audio/_NewParadise/SoundUse/magboots_off.ogg
  Resources/Audio/_NewParadise/SoundUse/magboots_on.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Textures/_NewParadise/Clothing/Uniforms/Costume/fleece.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NewParadise/Clothing/Uniforms/Costume/fleece.rsi/meta.json
Labels: Звук, Переводы, Текстуры, Статус: Требуется проверка, size/S, C#

#213 Исправления
  Resources/ConfigPresets/lopf.toml
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/objects/weapons/expedition_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: Переводы, Статус: Требуется проверка, size/M

#214 Update ServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Labels: Статус: Требуется проверка, C#
