Repository Legacy-Of-Paradise/frontier-erp, pull requests merged in 2025-05, with the labels that each got.

#117 Поварской фикс
  Resources/Maps/_NewParadise/Outpost/frontier.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
Labels: YML, Карты, Статус: Требуется проверка, size/L

#118 AiSun
  Resources/Locale/ru-RU/_NewParadise/guidebook/guides.tfl
  Resources/Maps/_NewParadise/Shuttles/AiSun.yml
  Resources/Prototypes/_NF/Guidebook/sector_topology.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NewParadise/Guidebook/shipyard.yml
  Resources/Prototypes/_NewParadise/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NewParadise/Shipyard/AiSun.yml
  Resources/ServerInfo/_NewParadise/Guidebook/Shipyard/AiSun.xml
  Resources/Textures/_NewParadise/Guidebook/large_icons/128x96.rsi/meta.json
  Resources/Textures/_NewParadise/Guidebook/large_icons/128x96.rsi/sector_map.png
  Resources/Textures/_NewParadise/Guidebook/shuttle_maps/128x96.rsi/AiSun.png
  Resources/Textures/_NewParadise/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: YML, Карты, Документация, Текстуры, Статус: Требуется проверка, size/L

#120 Фикс
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/guidebook/shuttle_maps.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/catalog/fills/backpacks/stashes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/catalog/fills/boxes/emergency.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/catalog/fills/storagefilltemplates/stashes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/markers/spawners/jobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/markers/spawners/random/stashes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/mobs/player/interview_hologram.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/devices/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/misc/treasure.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/tools/tools.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/furniture/armory/base_weapon_rack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/machines/emp_generator.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/machines/m_emp.ftl
  Resources/Locale/ru-RU/_DV/datasets/names/oni.ftl
  Resources/Locale/ru-RU/_NF/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_NF/guidebook/guides.ftl
  Resources/Locale/ru-RU/_NF/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_NF/job/hologram.ftl
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/_NF/m_emp/m_emp.ftl
  Resources/Locale/ru-RU/_NF/power/components/power-charging-component.ftl
  Resources/Locale/ru-RU/_NewParadise/Construction/Graphs.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/nyanotrasen/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/guidebook/shuttle_maps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/backpacks/stashes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/storagefilltemplates/stashes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/markers/spawners/random/stashes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/player/interview_hologram.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/treasure.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/emp_generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/m_emp.ftl
  Resources/Maps/_NewParadise/Outpost/frontier.yml
  Resources/Maps/_NewParadise/POI/arena.yml
  Resources/Maps/_NewParadise/POI/black_market.yml
  Resources/Maps/_NewParadise/POI/cove.yml
  Resources/Maps/_NewParadise/POI/medical.yml
  Resources/Maps/_NewParadise/POI/trade.yml
  Resources/Maps/_NewParadise/POI/trademall.yml
  Resources/Maps/_NewParadise/Shuttles/Nfsd/paladin.yml
  Resources/Maps/_NewParadise/Shuttles/kilderkin.yml
  Resources/Prototypes/_NewParadise/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NewParadise/Shipyard/AiSun.yml
Labels: YML, Карты, Переводы, Статус: Требуется проверка, size/M

#121 Наш первый, ваш второй
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Frontier.yml
Labels: YML, Статус: Требуется проверка, size/XS

#123 Фикс ещё один
  Tools/actions_changelogs_since_last_run.py
Labels: Статус: Требуется проверка, size/S

#116 Откат переводов в строительном меню
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
Labels: size/S, C#

#124 ужас
  Tools/actions_changelogs_since_last_run.py
Labels: Статус: Требуется проверка, size/S

#125 Последний фикс
  Resources/Changelog/NewParadise.yml
  Tools/actions_changelogs_since_last_run.py
Labels: size/M

#126 Update actions_changelogs_since_last_run.py
  Resources/Changelog/NewParadise.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Статус: Требуется проверка, size/XS

#127 Фикс атмоса
  Resources/Maps/_NewParadise/Outpost/frontier.yml
Labels: Карты, size/S

#134 Исправление медички и переводов работ
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Maps/_NewParadise/POI/medical.yml
Labels: YML, Карты, Переводы, Статус: Требуется проверка, size/M

#139 унификация
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
  Content.Shared/Roles/JobRequirement/AgeRequirement.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/SpeciesRequirement.cs
  Content.Shared/Roles/JobRequirement/TraitsRequirement.cs
  Content.Shared/Roles/JobRequirements.cs
Labels: UI, Статус: Требуется проверка, size/M, C#

#140 Маленький фикс Ценв Аплинке ДШ
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: YML

#141 Всякое
  Resources/Audio/_NewParadise/Weapons/Guns/Gunshots/aek.ogg
  Resources/Locale/en-US/_NewParadise/store/uplink-catalog.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/objects/weapons/guns/ammunition/magazine/smg.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/objects/weapons/guns/rifles/LPPrifles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle.ftl
  Resources/Locale/ru-RU/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_NF/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/_NF/seeds/seeds.ftl
  Resources/Locale/ru-RU/_NF/traits/traits.ftl
  Resources/Locale/ru-RU/_NewParadise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/objects/weapons/guns/ammunition/magazine/smg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/objects/weapons/guns/rifles/LPPrifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/storage/pouches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/tools/goblin_tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/vehicles/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/guidebook/shuttle_maps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/roles/mindroles/mind_roles.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NewParadise/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NewParadise/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/Rifle.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Ammunition/Box/antimateriel.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/LPPCartridge.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Ammunition/Magazine/smg.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Ammunition/Projectile/LPPBullets.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Rifles/LPPrifles.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/SMGs/LPPsmg.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/Snipers/Snipers.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Guns/tags.yml
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_foot.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_leg.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_foot.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_leg.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/tip.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/piercing.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/rubber.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/base.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/bolt-open.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/equipped-BACKPACK.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/icon.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/inhand-left.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/inhand-right.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/mag-0.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/meta.json
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/wielded-inhand-left.png
  Resources/Textures/_NewParadise/Objects/Weapons/Guns/Rifles/aek.rsi/wielded-inhand-right.png
Labels: YML, Звук, Переводы, Текстуры, Статус: Требуется проверка, size/M

#142 Фикс
  .gitignore
  Resources/Locale/en-US/_NewParadise/SponsorMarkingsTier.ftl
  Resources/Locale/ru-RU/_NewParadise/SponsorMarkingsTier.ftl
Labels: Переводы, Статус: Требуется проверка, size/S

#143 Исправление чейнжлога
  .github/workflows/publish.yml
Labels: YML, Статус: Требуется проверка, size/XS

#146 Название бусти в менюшке. Я вафля
  Resources/Locale/ru-RU/info/server-info.ftl
Labels: Переводы, Статус: Требуется проверка, size/XS

#150 небольшие фиксы
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: UI, Статус: Требуется проверка, size/S, C#

#151 Besit
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Статус: Требуется проверка, size/S, C#

#152 Пачка исправлений
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/_NewParadise/NewParadiseCvars.cs
  Resources/ConfigPresets/lopf.toml
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/mobs/species/tajaran/body/parts/Tajaran.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/backpacks/stashes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers_tabletop.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers_tabletop_shipyard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/frame_tabletop.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/mail/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/mail/mail.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Maps/_NewParadise/POI/medical.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_NewParadise/Recipes/Construction/Graphs/structures/AtmosDeviceFanTiny.yml
Labels: YML, UI, Карты, Переводы, Статус: Требуется проверка, size/M, C#

#153 откат окна АХелпа
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
Labels: UI, size/S, C#

#159 Я ебал этот ваше ДШ, когда мейн сборка?
  Resources/Maps/_NewParadise/POI/nfsd.yml
Labels: Карты, size/L

#164 Фиксы ДШ
  Resources/Maps/_NewParadise/POI/nfsd.yml
Labels: Карты, size/L

#167 Фикс меда
  Resources/Maps/_NewParadise/POI/medical.yml
Labels: Карты, size/S

#169 Фиксы+Новая система банвебхука
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.OreDunGen.cs
  Resources/ConfigPresets/lopf.toml
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_solutioncontainerexample.ftl
Labels: Переводы, Статус: Требуется проверка, size/S, C#

#172 Upstream
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Resources/Changelog/Frontier.yml
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/Shuttles/caladrius.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_pistols.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/caladrius.yml
  Resources/Prototypes/_NF/Shipyard/retort.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Caladrius.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Searchlight.xml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-light-siren.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-shoulder-light-overlay-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-shoulder-light.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-shoulder-light-overlay-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-shoulder-light.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
  Resources/Textures/_NF/Effects/LightMasks/skullmask.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/caladrius.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/searchlight.png
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/painting3.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster21_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster4_contraband.png
  Tools/_NF/font_sheets/attributions.txt
  Tools/_NF/font_sheets/font_sheet_2x3.png
  Tools/_NF/font_sheets/font_sheet_3x3.png
  Tools/_NF/font_sheets/font_sheet_3x3alt.png
  Tools/_NF/font_sheets/font_sheet_3x5.png
  Tools/_NF/font_sheets/font_sheets.aseprite
Labels: YML, Карты, Документация, Переводы, Текстуры, Статус: Требуется проверка, size/XL, C#

#175 Багофиксы+Фикс радиоканалов
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_NF/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: YML, Переводы, Статус: Требуется проверка, size/S, C#

#180 Переводы гайдбука
  Resources/ServerInfo/_NF/Guidebook/Interviews.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Adder.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Caladrius.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Surveyor.xml
  Resources/ServerInfo/_NF/Guidebook/Weapons/ArchetypesRangedWeapons.xml
  Resources/ServerInfo/_NF/Guidebook/Weapons/ColorCodesAmmo.xml
Labels: Документация, size/L

#183 Микрофиксы
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/consumable/food/frozen.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/objects/specific/hydroponics/sprays.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_nf/entities/structures/machines/skrungler.ftl
  Resources/Locale/ru-RU/_DV/customobjectivesummary/customobjectivesummary.ftl
  Resources/Locale/ru-RU/_NF/customobjectivesummary/customobjectivesummary.ftl
  Resources/Locale/ru-RU/_NF/round-end/round-end-summary-window.ftl
  Resources/Locale/ru-RU/_NF/skrungler/components/skrungler-entity-storage-component.ftl
  Resources/Locale/ru-RU/_NF/xenoarchaeology/artifact-component.ftl
  Resources/Locale/ru-RU/robust-toolbox/custom-controls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/frozen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/hydroponics/sprays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/skrungler.ftl
  Resources/Maps/_NewParadise/POI/cove.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
Labels: YML, Карты, Переводы, Статус: Требуется проверка, size/S
